body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    margin: auto;
    background-color: #56423D;
}

h1{
    font-size: 300%;
    color: chartreuse;
    background-color: #582B39;
    padding: 10px;
    border:1px solid chartreuse;
    border-radius: 12px;
}

.container{
    width: 100%;
    background-color: #582B39;
    padding: 10px;
    border:1px solid chartreuse;
    border-radius: 12px;

}

#input{
    width: 500px;
    height: 40px;
    border: 1px solid;
    border-radius: 12px;
    font-size: 30px;
    font-weight: bolder;
    vertical-align: middle;
}

.button{
    height: 50px;
    font-size: 30px;
    font-weight: bolder;
    border: 1px solid;
    border-radius: 12px;
    vertical-align: middle;
    background-color: chartreuse;
}

#toDoContainer{
    margin-top: 30px;
}

#toDoList{
    list-style:none;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    background-color: chartreuse;
    padding: 10px;
    color:black
}